<!DOCTYPE html>
<html>
<head>
  <title>StackOverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main_toolbar"><ul><li><a href="/">home</a></li><li><a href="/questions/new">new question</a></li></ul></div>
  <div id="container">
    <%= yield %>

  </div>
</body>
</html>
